{% extends 'base.html.twig' %}
{% block mainContent %}
    <div class="row">
        <div class="alert alert-success col-md-6">You have passed authorisation!</div>
    </div>


{{ login }}
{{ pass }}
{% endblock %}