{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('js/jstree/themes/default/style.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jstree/jstree.js') }}"></script>
{% endblock %}

{% block sideBarTree %}
    <div id="tree_container">
        <script>
            $(function(){
                $('#tree_container').jstree({
                    'core' : {
                        'data' : {
                            'url': '/buildtree',
                            'dataType': 'json',
                        }
                    },
                    'plugins' : ['dnd', 'contextmenu'],
                });
            });
        </script>
    </div>
{% endblock %}

{% block mainContent %}
    <div class="row">
        <div class="alert alert-success col-md-6">You have passed authorisation!</div>
    </div>


{{ login }}
{{ pass }}
{% endblock %}